body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
table {
    border-collapse: collapse;
    margin: auto auto 2rem auto;
}
th, td {
    border: 1px solid #ccc;
    padding: 6px 12px;
    text-align: center;
}
.headergroup {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2rem 0 2rem 0;
}